[submodule "openinfer-simulator"]
	path = openinfer-simulator
	url = https://github.com/arsalan-anwari/openinfer-simulator.git
[submodule "openinfer-dsl"]
	path = openinfer-dsl
	url = https://github.com/arsalan-anwari/openinfer-dsl.git
[submodule "openinfer-synth"]
	path = openinfer-synth
	url = https://github.com/arsalan-anwari/openinfer-synth.git
[submodule "openinfer-oinf"]
	path = openinfer-oinf
	url = https://github.com/arsalan-anwari/openinfer-oinf.git
