[package]
name = "openinfer"
version = "0.1.0"
edition = "2021"

[dependencies]
anyhow = "1"
uuid = { version = "1", features = ["v4", "serde"] }
serde = { version = "1", features = ["derive"] }
serde_json = "1"
ash = { version = "0.37", optional = true }
openinfer-dsl = { path = "../openinfer-dsl" }
rand = "0.8"

[dev-dependencies]

[features]
vulkan = ["ash"]

[build-dependencies]
anyhow = "1"
serde = { version = "1", features = ["derive"] }
serde_json = "1"

[[example]]
name = "minimal"
path = "../examples/rust/minimal.rs"

[[example]]
name = "graph_nodes_traverse"
path = "../examples/rust/graph_nodes_traverse.rs"

[[example]]
name = "trace_example"
path = "../examples/rust/trace_example.rs"

[[example]]
name = "serialize"
path = "../examples/rust/serialize.rs"

[[example]]
name = "deserialize"
path = "../examples/rust/deserialize.rs"

[[example]]
name = "relu"
path = "../examples/rust/relu.rs"

[[example]]
name = "multidim_broadcast"
path = "../examples/rust/multidim_broadcast.rs"

[[example]]
name = "reference"
path = "../examples/rust/reference.rs"
